<div class="grow m-5 md:m-2">

    <div class="grid grid-rows-4 grid-flow-col gap-4 md:grid grid-rows-6 grid-flow-col">
        <div class="card rounded-xl ">
            <p>test</p>
            <!-- <img  src="https://image.tmdb.org/t/p/w220_and_h330_face{{item.poster_path}}" alt="" srcset=""> -->
        </div>
        <div class="card rounded-xl ">
            <p>test</p>
            <!-- <img  src="https://image.tmdb.org/t/p/w220_and_h330_face{{item.poster_path}}" alt="" srcset=""> -->
        </div>
        <div class="card rounded-xl ">
            <p>test</p>
            <!-- <img  src="https://image.tmdb.org/t/p/w220_and_h330_face{{item.poster_path}}" alt="" srcset=""> -->
        </div>
        <div class="card rounded-xl ">
            <p>test</p>
            <!-- <img  src="https://image.tmdb.org/t/p/w220_and_h330_face{{item.poster_path}}" alt="" srcset=""> -->
        </div>
        <div class="card rounded-xl ">
            <p>test</p>
            <!-- <img  src="https://image.tmdb.org/t/p/w220_and_h330_face{{item.poster_path}}" alt="" srcset=""> -->
        </div>
    </div>
</div>

<!-- 
    *ngFor="let item of movie " 
    {{item.original_title}} ({{item.release_date | date:"yyyy"}})
-->